* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body {
    background-color: #FBF5F3;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar {
    color: #FBF5F3;
    font-size: 16px;
    width: 100%;
    height: 64px;
    display: flex;
    background-color: #3A405A;
    
}
.logo-text {
    font-size: 18px;
    font-family: serif;
    color: #FBF5F3;
}

.nav-list {
    list-style-type: none;

}

.navbar a {
    color: #FBF5F3;
    text-decoration: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
    color: #FBF5F3;
    
}

.navbar a:hover {
    color: rgb(255, 179, 80);
}
/* burgermenu */
.menu {
    display: none;
}

/* main code start here */

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
    text-align: center;
    background-image: url(.//bildercv/bildmig3.jpeg);
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1400px;
    width: 100%;
  }
  .container-hero {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 60px;
}


.card {
    width: 60%;
    display: inline-table;
    background: #F9DEC9;
    padding: 0.6em 1em 0.6em 0.6em;
    margin-bottom: 1em;
    border-radius: 2.3em;
    box-shadow: rgb(0 0 0 / 20%) 3px 6px 10px;
    border: solid 1px #ccc;
    margin-top: 60px;
    opacity: 0.9;
  }

  .card-font {
    list-style: none;
    color:#312F2F
  }
  
 .my-experience {
    background: #E9AFA3;
    color: #FBF5F3;

 }

 .card-font .my-experience-info {
    display: block;
 }

 .my-characteristic {
    background: #99B2DD;
    color: #FBF5F3;
   
 } 


.banner {
    max-width: 1400px;
    width: 100%;
    display: flex;
    border: 3px solid #FBF5F3;
    
}

.banner-text1 {
    color: #312F2F;
    position: relative;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.banner-text1 h2 {
    margin-bottom: 20px;
}

.banner-text1 li {
    list-style: none;
}

/* slider */
.slider {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    margin-top: 50px;
    margin-left: 46%;
}

.slider span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(200px);

}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;

}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}
/* 3d carusel code */
@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.card-background {
    background-image: url(./bildercv/grevens.jpeg);
    background-position: 50% ;
}

/* footer area start */

.footer {
    color: #FBF5F3;
    font-size: 16px;
    width: 100%;
    height: 64px;
    display: flex;
    background-color: #3A405A;
    
}

.container-footer {
    display: flex;
    justify-content: center;
}

.list-item a {
    color: #FBF5F3;
}

/* media code */

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .card {
        box-shadow: none;
        
      }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 25px;
        
    }

    .nav-list .list-item {
    
    display: inline-block;
    padding: 20px 10px;
    
}
    
    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
        background-color: #3A405A;
        
    }

    .nav-list .list-item {
        display: block;    
    }

    .nav-list-footer {
        display: block;
        justify-content: center;
    }

    .active {
        display: block;
    }

    .flex-between {
        display: block;
        background-color: #3A405A;
    }

    .container {
        min-width: auto;
        display: block;
      }

    .slider {
        
        margin-top: 50px;
        margin-left: 35%;
    }
    
    .slider span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i)*45deg)) translateZ(150px);
    
    }
    
}

@media all and (max-width: 513px) {

    .navbar {
        flex-direction: column;
        position: relative;
    }

    .card {
        box-shadow: none;
        
      }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 25px;
        
    }
    .nav-list .list-item {
        display: inline-block;
        padding: 20px 10px;
        
        }
        .nav-list {
            list-style-type: none;
            width: 100%;
            text-align: center;
            padding-top: 10px;
            display: none;
            background-color: #3A405A;
            
        }
    
        .nav-list .list-item {
            display: block;    
        }
    
        .nav-list-footer {
            display: block;
            justify-content: center;
        }
        
        .slider {
            margin-left: 39%;
        }

        .menu {
            display: block;
            position: absolute;
            right: 15px;
            top: 25px;
            
        }

        .active {
            display: block;
        }

        .flex-between {
            display: block;
            background-color: #3A405A;
        }

        .container {
            min-width: auto;
            display: block;
          }

       
   
}


/* reusable code */

/* hjälper till att centrera innehållet på stora skärmar */
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-size: 16px;
}

h3 {
    color: #FBF5F3;
    margin-bottom: inherit;
}

p {
    margin-bottom: revert;
}

i {
    color: #FBF5F3;
}

/* 
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
