* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body {
    background-color: #FBF5F3;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar {
    color: #FBF5F3;
    font-size: 30px;
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #3A405A;
    
}

.nav-list {
    list-style-type: none;

}

.navbar a {
    color: #FBF5F3;
    text-decoration: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
    
}

.navbar a:hover {
    color: rgb(255, 179, 80);
}
/* burgermenu */
.menu-line {
    width: 20px;
    height: 3px;
    background-color: #FBF5F3;
    margin-bottom: 3px;
}

.menu {
    display: none;
}

/* main code start here */

.main {
    flex-direction: column;
    display: flex;
    background-color: #F9DEC9;
    height: 80vh;
}



.banner {
    max-width: 1400px;
    
}

.main-text {
    color: #312F2F;
    font-size: 30px;
    position: relative;
    text-align: center;
    margin: auto;
}

.banner-img {
    background-repeat: no-repeat;
    display: inline-block;
	position: relative;
	overflow: hidden;
	height: 60%;
	width: 100%;
}

/* slider */
.slider {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    background-color: red;
    margin-top: 100px;
    margin-left: 48%;
    display: flex;
}


/* 3d carusel code */
@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(200px);

}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;

}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

.banner-text {
    color: #312F2F;
    font-size: 40px;
    position: relative;
    text-align: center;
    margin-top: 30px;
}



@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
    
    }
    .logo {
        width: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .nav-list .list-item {
        display: block;
        border-top: 1px solid #FBF5F3;
        
        
    }

    .active {
        display: block;
    }


}






/* reusable code */

.flex-between-main {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* hjälper till att centrera innehållet på stora skärmar */
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 */
