* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    padding: 0 1em 2em;
    line-height: 1.4;
    text-align: center;
  }
  

  
  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
    text-align: left;
  }
  
  
  