* {
    box-sizing: border-box;
    padding: 0 1em 2em;
    margin: 0;
    
}
body {
    background-color: #FBF5F3;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar {
    color: #FBF5F3;
    font-size: 16px;
    width: 100%;
    height: 64px;
    display: flex;
    background-color: #3A405A;
    
}
.logo-text {
    font-size: 40px;
    font-family: serif;
    color: #F9DEC9;
}

.nav-list {
    list-style-type: none;

}

.navbar a {
    color: #FBF5F3;
    text-decoration: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
    
}

.navbar a:hover {
    color: rgb(255, 179, 80);
}
/* burgermenu */
.menu {
    display: none;
}

/* main code start here */

.container1 {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
    text-align: center;
    background-image: url(./bildmig3.jpeg);
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1400px;
    min-height: 100vh;
    width: 100%;
  }
  .container-hero {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    margin-top: 60px;
}


.card {
    width: 100%;
    display: block;
    background: rgba(238, 238, 238, 0.61);
    padding: 0.6em 1em 0.6em 0.6em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    box-shadow: rgb(0 0 0 / 20%) 3px 6px 10px;
    border: solid 1px #ccc;
    height: 30vh;
    margin-top: 60px;
  }
  
  .card-2 {
    width: 100%;
    display: block;
    padding: 0.6em 1em 0.6em 0.6em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    box-shadow: rgb(0 0 0 / 20%) 3px 6px 10px;
    height: 30vh;
    margin-top: 50px;
  }


.banner {
    max-width: 1400px;
    width: 100%;
    display: flex;
    border: 3px solid #FBF5F3;
    
}

.banner-text1 {
    color: #312F2F;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

/* slider */
.slider {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    background-color: red;
    margin-top: 100px;
    margin-left: 48%;
    display: flex;
}

.slider span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(200px);

}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    transition: 2s;

}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}
/* 3d carusel code */
@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}


table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #3A405A;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    text-align: center;
}

th {
	text-align: center;
}

thead {
	background-color: #819595;
}

tbody {

	td {
		position: relative;
	}
}

.card-background {
    background-image: url(./grevens.jpeg);
    background-position: 50% ;
}

/* footer area start */

.footer {
    color: #FBF5F3;
    font-size: 16px;
    width: 100%;
    height: 64px;
    display: flex;
    background-color: #3A405A;
    
}

/* media code */

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .card {
        box-shadow: none;
      }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        
    }

    .nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
    
    
    }
    .logo {
        width: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
        
    }

    .nav-list .list-item {
        display: block;
        border-top: 1px solid #FBF5F3;
        
        
        
    }

    .active {
        display: block;
    }
}

@media (max-width: 820px) {
    .container {
      min-width: auto;
      display: block;
    }
    .card {
      width: 100%;
    }
  }






/* reusable code */

/* hjälper till att centrera innehållet på stora skärmar */
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-size: 16px;
}

/* 
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 */
 @media all and (max-width: 898px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .card {
        box-shadow: none;
      }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
    
    }
    .logo {
        width: 100%;
        margin-left: 15px;
        margin-top: 15px;
    }

    .nav-list  {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
        background-color: #3A405A;
    }
   
    .nav-list .list-item {
        display: block;
        
        
        
    }

    .active {
        display: block;
    }
}